{% extends 'index.html' %}
{% load static %}

{% block title %} Aboutme {% endblock %}

{% block content %}

<div class="container py-4" id="aboutme">
    <h2 class="text-center">Acerca de mí</h2>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <p>Full-Stack con 1 año y 4 meses con experiencia en ingeniería de datos adquirida en el bootcamp intensivo de Soy Henry, donde desarrollé habilidades avanzadas en análisis de datos, machine learning y desarrollo de modelos predictivos.
            Formado previamente en Oracle Next Education, consolidé una sólida base para abordar conceptos complejos
            y aplicarlos en proyectos prácticos. Especializado en ingeniería de datos y con conocimientos en metodologías
            ágiles, estructura de datos y evaluación de modelos. Busco seguir ampliando mis conocimientos en proyectos
            de la vida real.</p>
        </div>
    </div>
</div>

<section class="container">
    <div class="row">
        <div class="col">
            <h2>Tecnologias</h2>
            <ul class="list-group">
                <li class="list-group-item">Lenguajes de programación: Java, Python, Html, CSS.</li>
                <li class="list-group-item">Herramientas y librerías: Linux. MacOS, Pandas, Numpy, Scikit-learn, Plotly, Apache Spark, Hadoop hive, Docker.</li>
                <li class="list-group-item">Frameworks: Django, Bootstrap, FastAPI, Streamlit.</li>
                <li class="list-group-item">Bases de datos: MySQL, SQLite3.</li>
                <li class="list-group-item">Nube: Google Cloud(GCP) – BigQuery, Cloud Functions, Google Cloud Storage(Bucket).</li>
                <li class="list-group-item">Visualización de datos: Power BI.</li>
            </ul>
        </div>
    </div>
</section>

{% endblock%}