{% extends 'index.html' %}
{% load static %}

{% block title %} Aboutme {% endblock %}

{% block content%}
<section id="proyectos" class="experiencia seccion-clara">
  <div class="container text-center">
    <div class="row">
      <!-- proyecto 1 -->
      <div class="columna col-12 col-md-4">
        <i class="bi bi-cloud-check"></i>
        <p class="experiencia-titulo">Data Engineer, Analytics-Machine-Learning</p>
        <p>Realicé un proyecto que combinó análisis exploratorio de datos (EDA) y un proceso de extracción;
          transformación y carga (ETL) en datos de reseñas de negocios de restaurantes y hoteles de Yelp y Google.
          Implementé un pipeline en Google Cloud Platform (GCP) para procesar y almacenar los datos en BigQuery.
          Desarrollé un dashboard interactivo en Tableau para visualizar insights y un sistema de recomendaciones
          basado en machine learning con scikit-learn. Utilicé herramientas Pandas, NumPy, Matplotlib, Seaborn,
          Apache Beam y Cloud Dataflow en el proceso.</p>
        <div class="badges-contenedor">
          <span class="badge text-bg-primary">Google Cloud(Bucket,Dataflow,Functions,BigQuery)</span>
          <span class="badge text-bg-primary">ETL(Python,Extraction,transformation and loading)</span>
          <span class="badge text-bg-primary">EDA(Exploratory Data Analysis)</span>
          <span class="badge text-bg-primary">Dashboard(Tableau)</span>
          <span class="badge text-bg-primary">Machine Learning(Modelo de recomendaciones)</span>
        </div>
      </div>
      <!-- proyecto 2 -->
      <div class="columna col-12 col-md-4">
        <i class="bi bi-bar-chart-line-fill"></i>
        <p class="experiencia-titulo">Data Analytics - Siniestros Viales Buenos Aires</p>
        <p>Lideré el análisis técnico y limpieza de datos de archivos xlsx, seguido de la creación de un dashboard
          interactivo en Tableau. Definí KPIs específicos para evaluar el éxito del proyecto, empleando distintas
          Herramientas.</p>
        <div class="badges-contenedor">
          <span class="badge text-bg-primary">EDA(Exploratory Data Analysis)</span>
          <span class="badge text-bg-primary">ETL(Python,Extraction,transformation and loading)</span>
          <span class="badge text-bg-primary">Dashboard(Tableau)</span>
          <span class="badge text-bg-primary">KPIs</span>
        </div>
      </div>
      <!-- proyecto 3 -->
      <div class="columna col-12 col-md-4">
        <i class="bi bi-playstation"></i>
        <p class="experiencia-titulo">Machine-Learning-Operations SteamGames</p>
        <p>Realicé un análisis técnico y la limpieza de datos de archivos JSON, seguido de la implementación
          de funciones de consulta en la API. Desarrollé y entrené un modelo de recomendaciones de juegos utilizando
          Scikit-learn con visualización de resultados.</p>
        <div class="badges-contenedor">
          <span class="badge text-bg-primary">ETL(Python,Extraction,transformation and loading)</span>
          <span class="badge text-bg-primary">EDA(Exploratory Data Analysis)</span>
          <span class="badge text-bg-primary">Desarrollo API “framework FastAPI.”</span>
          <span class="badge text-bg-primary">Machine Learning (Modelo de aprendizaje automatico)</span>
        </div>            
      </div>
      <!-- proyecto 4 -->
      <div class="columna col-12 col-md-4">
        <i class="bi bi-file-earmark-lock2-fill"></i>
        <p class="experiencia-titulo">EncryptX</p>
        <p>Como líder de este proyecto, dirigí la creación de un programa en Java para encriptar y desencriptar texto. Implementé algoritmos como AES, DES y RSA, además de diseñar una interfaz de usuario intuitiva utilizando la biblioteca gráfica Swing. Mi rol implicó coordinar tareas, garantizar la seguridad del sistema y asegurar una experiencia de usuario fluida. Fue gratificante ver cómo esta herramienta contribuyó a la protección de datos en el mundo digital.</p>
        <div class="badges-contenedor">
          <span class="badge text-bg-primary">Java</span>
          <span class="badge text-bg-primary">JCA (Java Cryptography Architecture)</span>
          <span class="badge text-bg-primary">Swing (para la interfaz de usuario)</span>
          <span class="badge text-bg-primary">AES, DES, RSA (algoritmos de cifrado)</span>
        </div>            
      </div>
      <!-- proyecto 5 -->
      <div class="columna col-12 col-md-4">
        <i class="bi bi-currency-dollar"></i>
        <p class="experiencia-titulo">CoinConvert</p>
        <p>En el proyecto Conversor de Moneda en Java, lideré el desarrollo de una aplicación que permite a los usuarios realizar conversiones entre diferentes tipos de moneda de manera rápida y precisa. Utilizando Java y aplicando principios de orientación a objetos, creamos una interfaz intuitiva que facilita a los usuarios ingresar el monto en una moneda y obtener su equivalente en otra seleccionada.
        Me encargué de diseñar y desarrollar la interfaz gráfica amigable utilizando la biblioteca Swing. Además, implementamos un sistema robusto que garantiza la precisión y fiabilidad en todas las conversiones, gracias al uso de tipos de datos precisos y sólidos principios de orientación a objetos.</p>
        <div class="badges-contenedor">
          <span class="badge text-bg-primary">Java</span>
          <span class="badge text-bg-primary">Swing (para la interfaz gráfica de usuario)</span>
          <span class="badge text-bg-primary">Orientación a Objetos</span>
        </div>            
      </div>
      <!-- proyecto 6-->
      <div class="columna col-12 col-md-4">
        <i class="bi bi-google"></i>
        <p class="experiencia-titulo">Animatrix</p>
        <p>Fue emocionante trabajar en un proyecto que ofrece una experiencia inmersiva para explorar series y películas de anime, así como recibir recomendaciones personalizadas basadas en las preferencias de los usuarios. La interfaz intuitiva y atractiva, desarrollada con HTML, CSS y Bootstrap, garantiza una navegación fluida y una presentación visualmente atractiva del contenido.</p>
        <div class="badges-contenedor">
          <span class="badge text-bg-primary">Frontend: HTML, CSS, JavaScript</span>
          <span class="badge text-bg-primary">Framework CSS: Bootstrap</span>
          <span class="badge text-bg-primary">Base de datos (SQLite, MySQL, etc.)</span>
        </div>            
      </div>
      </div>
    </div>
</section>

<!-- galeria proyectos -->
<section id="mis-proyectos" class="proyectos-recientes seccion-clara d-flex flex-column">
  <h2 class="seccion-titulo texto-negro">Mis proyectos</h2>
  <h3 class="seccion-descripcion">Estos son algunos proyectos que he realizado en el transcurso de mi carrera.</h3>
  <!-- galeria -->
  <div class="container text-center proyecto-contenedor">
    <div class="row">
      <!-- proyecto-1 -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="./images/dashboard.jpeg" alt="dashboard">
          <div class="overlay">
            <p>Dashboard Tableau Public</p>
            <div class="iconos-contenedor">
              <a href="https://public.tableau.com/app/profile/jeisson.cardozo/viz/DashboardProyectoDataAnalytics/Dashboard1" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-bar-chart-line"></i>
              </a>
              <a href="https://github.com/Bemontx/Data-Analytics_Siniestros_Viales_Buenos_Aires" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-github"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
       <!-- proyecto-2 -->
       <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="./images/api.png" alt="api">
          <div class="overlay">
            <p>API-Steam Games</p>
            <div class="iconos-contenedor">
              <a href="https://machine-learning-operations-mlops-gv5m.onrender.com/docs" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-playstation"></i>
              </a>
              <a href="https://github.com/Bemontx/Machine-Learning-Operations" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-github"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
       <!-- proyecto-3 -->
       <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="./images/bigquery.jpeg" alt="bigquery">
          <div class="overlay">
            <p>YELP-GOOGLE-MAPS---REVIEWS-AND-RECOMMENDATIONS</p>
            <div class="iconos-contenedor">
              <a href="https://github.com/Bemontx/YELP-GOOGLE-MAPS---REVIEWS-AND-RECOMMENDATIONS" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-filetype-sql"></i>
              </a>
              <a href="https://github.com/Bemontx/YELP-GOOGLE-MAPS---REVIEWS-AND-RECOMMENDATIONS" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-github"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- proyecto-4 -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="./images/coin.png" alt="coin">
          <div class="overlay">
            <p>CoinConvert</p>
            <div class="iconos-contenedor">
              <a href="https://github.com/Bemontx/Conversor-Monedas" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-currency-dollar"></i>
              </a>
              <a href="https://github.com/Bemontx/Conversor-Monedas" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-github"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
       <!-- proyecto-5 -->
       <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="./images/text.png" alt="encriptador">
          <div class="overlay">
            <p>EncryptX</p>
            <div class="iconos-contenedor">
              <a href="https://github.com/Bemontx/Encriptador-texto?tab=readme-ov-file" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-file-earmark-lock2-fill"></i>
              </a>
              <a href="https://github.com/Bemontx/Encriptador-texto?tab=readme-ov-file" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-github"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
       <!-- proyecto-6 -->
       <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="./images/animatrix.png" alt="web-anime">
          <div class="overlay">
            <p>Animatrix</p>
            <div class="iconos-contenedor">
              <a href="https://animatrix-d3618.web.app/" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-browser-chrome"></i>
              </a>
              <a href="https://github.com/Bemontx/Web-Anime?tab=readme-ov-file" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-github"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- proyecto-7 -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="./images/calc.png" alt="calculadora">
          <div class="overlay">
            <p>Calculadora Pokemon</p>
            <div class="iconos-contenedor">
              <a href="https://calculadora-pokemon-8c16d.web.app/" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-calculator"></i>
              </a>
              <a href="https://github.com/Bemontx/calculadoraPokemon" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-github"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- proyecto-8 -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="./images/webscraping.png" alt="webscraping">
          <div class="overlay">
            <p>WEB SCRAPING</p>
            <div class="iconos-contenedor">
              <a href="https://github.com/Bemontx/WebScraping" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-zoom-out"></i>
              </a>
              <a href="https://github.com/Bemontx/WebScraping" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-github"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
  <a href="https://github.com/Bemontx?tab=repositories" target="_blank" rel="noopener noreferrer">
    <button type="button" class="btn btn-info">
      Ver más proyectos
      <i class="bi bi-github"></i>
    </button>
  </a>
</section>
{% endblock%}